
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Share/_Layout.cshtml";
}

@section css{

}

@section js{
    <script src="~/views/cadastrarProduto/index.js"></script>
}

<div class="row">
    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
    <div class="col-lg-7">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Cadastrar Produto!</h1>
            </div>
            <form class="user">
                <div class="form-group row">
                    <div class="col-sm-12 mb-3 mb-sm-0">
                        <input type="text" class="form-control form-control-user" id="descricao" placeholder="Descrição">
                    </div>
                </div>
                <div class="form-group col-sm-4 ">
                    <input type="text" class="form-control form-control-user" id="valor" placeholder="Valor">
                </div>

                <div class="form-group col-sm-4 ">
                    <input type="text" class="form-control form-control-user" id="quantidade" placeholder="Quantidade">
                </div>

                <div class="form-group col-md-12">
                    <select id="selCategoria">
                    </select>
                </div>

                <div class="form-group col-md-12">
                    <input multiple type="file"
                           class="form-control"
                           name="foto" id="foto" />
                </div>

                <div>
                    <input type="button"
                           class="btn btn-primary btn-user btn-block"
                           value="Cadastrar"
                           id="btnCadastrar"
                           onclick="index.btnCadastrar()" />
                </div>
                <div id="divMsg"></div>
                <hr>

            </form>

        </div>
    </div>
</div>

